html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  box-sizing: border-box;
}

.task {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left {
  margin-right: auto;
}
.task:has(#taskIsDone:checked) {
  background-color: lightgreen;
}