/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.title > h1 {
  font-size: 4rem
}